<div class="bg-dynamic-300 dark:bg-dynamic-800 w-full h-18 flex items-stretch">
    <div class="grow"></div>
    <div class="">
        <a>
            <button
                class="bg-dynamic-600 hover:bg-dynamic-500 active:bg-dynamic-700 transition-all -translate-y-4 min-w-32 md:min-w-64 border-8 shadow-none dark:border-dynamic-900 rounded-xl"
                routerLink="/newCounter"
            >
                +
            </button>
        </a>
    </div>
    <div class="grow"></div>
</div>
