<div
    class="bg-primary-300 dark:bg-primary-800 w-full h-18 flex items-stretch fixed bottom-0"
>
    <div class="grow"></div>
    <div class="">
        <a>
            <button
                class="bg-primary-600 hover:bg-primary-500 active:bg-primary-700 transition-all -translate-y-4 min-w-32 md:min-w-64 border-8 shadow-none dark:border-primary-900 rounded-xl"
                routerLink="/newCounter"
            >
                +
            </button>
        </a>
    </div>
    <div class="grow"></div>
</div>
