:host {
    display: block;
    width: 100%;
    height: 100%;
}

.counter-overflow-container {
    scroll-snap-type: proximity;
    scroll-padding: 100vw;
    @apply flex grow justify-center items-center w-full
        overflow-x-scroll overflow-y-hidden;

    div:first-child {
        margin-left: 100vw;
    }
    div:last-child {
        margin-right: 100vw;
    }
}
