/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "@zyphox/tailwind-dynamic-colors";

@theme {
    /* Tailwind palette that takes the default -color-dynamic-* variable and desaturates it */
    --color-background-50: hsl(
        from var(--color-dynamic-50) h calc(s - 20) calc(l - 10)
    );
    --color-background-100: hsl(
        from var(--color-dynamic-100) h calc(s - 20) calc(l - 10)
    );
    --color-background-200: hsl(
        from var(--color-dynamic-200) h calc(s - 20) calc(l - 10)
    );
    --color-background-300: hsl(
        from var(--color-dynamic-300) h calc(s - 20) calc(l - 10)
    );
    --color-background-400: hsl(
        from var(--color-dynamic-400) h calc(s - 20) calc(l - 10)
    );
    --color-background-500: hsl(
        from var(--color-dynamic-500) h calc(s - 20) calc(l - 10)
    );
    --color-background-600: hsl(
        from var(--color-dynamic-600) h calc(s - 20) calc(l - 10)
    );
    --color-background-700: hsl(
        from var(--color-dynamic-700) h calc(s - 20) calc(l - 10)
    );
    --color-background-800: hsl(
        from var(--color-dynamic-800) h calc(s - 20) calc(l - 10)
    );
    --color-background-900: hsl(
        from var(--color-dynamic-900) h calc(s - 20) calc(l - 10)
    );
    --color-background-950: hsl(
        from var(--color-dynamic-950) h calc(s - 20) calc(l - 10)
    );
}

@layer base {
    :root {
        font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

        @apply bg-dynamic-50 transition-colors;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    a:not([unstyled]) {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
    }

    a:not([unstyled]):hover {
        color: #535bf2;
    }

    h1:not([unstyled]) {
        text-align: center;
    }

    input:not([unstyled]),
    button:not([unstyled]) {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        color: #0f0f0f;
        background-color: #ffffff;
        transition: border-color 0.25s;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    button:not([unstyled]) {
        cursor: pointer;
    }

    button:not([unstyled]):hover {
        border-color: #396cd8;
    }
    button:not([unstyled]):active {
        border-color: #396cd8;
        background-color: #e8e8e8;
    }

    input:not([unstyled]),
    button:not([unstyled]) {
        outline: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    @variant dark {
        :root {
            @apply bg-dynamic-900 text-dynamic-50;
        }

        a:not([unstyled]):hover {
            @apply text-dynamic-200;
        }

        input:not([unstyled]),
        button:not([unstyled]) {
            @apply text-dynamic-50 bg-dynamic-800;
        }
        button:not([unstyled]):active {
            @apply bg-dynamic-700;
        }
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
